version: "3.9"
name: mapse
services:
  db:
    image: postgres:16-alpine
    container_name: mapse-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: mapse-api
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./server/.env.docker
    ports:
      - "8000:8000"
    # Reinicia automaticamente em caso de falha
    restart: unless-stopped

volumes:
  postgres_data:
