name: mapse

services:
  db:
    image: postgres:16-alpine
    container_name: mapse-db
    restart: unless-stopped

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    env_file:
      - .env

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

volumes:
  postgres_data:
